.form {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  margin-bottom: 30px;
}

.form textarea {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px 20px;
  min-width: 400px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  font-size: 1rem;
  color: var(--cor-p7);
}

.form textarea:focus {
  border-color: var(--cor-p3);
  box-shadow: 0 0 3px var(--cor-p3);
  outline: none;
}

.form button {
  padding: 20px;
  margin-left: 10px;
}

@media (max-width: 550px) {
  .form {
  padding: 10px 20px;
  max-width: 85%;
  margin: 0 auto 10px auto;
  }
  
  .form textarea {
    min-width: 75%;
  }
}