.task {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 10px 25px;
  transition: transform 0.3s;
  align-items: center;
}

.task:hover {
  transform: translate3d(3px, -3px, 0);
}

.task .div-task {
  display: flex;
  align-items: center;
  gap: 20px;
}

.task input[type="checkbox"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  border: 2px solid var(--cor-p3);
  cursor: pointer;
  position: relative;
}

.task input[type="checkbox"]:checked {
  background: var(--cor-p3);
}

.task input[type="checkbox"]:checked::before {
  content: "✓";
  font-size: 1.25rem;
  position: absolute;
  top: -11px;
  left: -1px;
  color: white;
}

.task input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

.task .date {
  font-size: 0.625rem;
  margin-right: 10px;
}

.task button {
  padding: 10px 15px;
  border-radius: 7px;
  font-size: 0.75rem;
}

.task a {
  color: lightblue;
}

.task-text {
  max-width: 60ch;
  white-space: pre-wrap;
}

@media (max-width: 800px) {
  .date {
    display: none;
  }

  .div-task input {
    width: 100%;
  }

  .task-text { 
    max-width: 40ch;
  }

}

@media (max-width: 550px) {
  .task {
    padding: 10px 20px;
    max-width: 85%;
    margin: 0 auto 10px auto;
  }

  .task-text { 
    max-width: 20ch;
  }
}